{% extends "base.html" %}
{% block title %}Register (Email){% endblock %}
{% block content %}
  <h2>Register with Email</h2>
  <form method="POST" action="{{ url_for('register', role=role, method='email') }}">
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Email</label>
    <input type="email" name="value" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <button type="submit" class="btn">Register</button>
    <a href="{{ url_for('register_role') }}" class="btn" style="background:#64748b;">Back</a>
  </form>
{% endblock %}
